
<ul class="nav navbar-top-links navbar-right">

	<li>
	<a id="next" href="#" onclick="checkSito()"><i class="{{user.icon}} fa-fw"></i>Task successivo</a>
	</li>
	<li>
	<a id="stop" href="#" onclick="stopStudio()"><i class="{{user.icon}} fa-fw"></i>Termina Studio</a>
	</li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="{{user.icon}} fa-fw"></i> {{user.user_name}} <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-users">
            <li><a href="{{site.uri.public}}/account/settings"><i class="fa fa-gear fa-fw"></i> Impostazioni</a>
            </li>
            <li class="divider"></li>
            <li><a href="{{site.uri.public}}/account/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
            </li>
        </ul>
        <!-- /.dropdown-user -->
    </li>
    <!-- /.dropdown -->
</ul>
<!-- /.navbar-top-links -->
